* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
li {
   list-style: none;
}
body {
   margin: 0;
   font-family: system-ui;
   background-color: rgb(206, 202, 202);
}

.wrapper {
   background-color: #fff;
   border-radius: 20px;
   max-width: 1080px;
   margin: 50px auto;
}




.content {
   padding: 40px;
   .title {
      display: flex;
      margin-bottom: 40px;
      justify-content: space-between;
      align-items: center;
      .search {
         display: flex;
         input {
            border: 0;
            padding: 10px;
            width: 200px;
            outline: none;
         }
      }
   }
   h1 {
      
   }
   .cards {
      display: flex;
      flex-wrap: wrap;
      
   }

}

.overlay {
   position: absolute;
   width: 100%;
   height: 100%;
   left: 0;
   top: 0;
   background-color: rgba(0, 0, 0, 0.5);
   z-index: 1;
   // display: none;
}

.drawer {
   position: absolute;
   width: 420px;
   height: 100vh;
   right: 0;
   background: #fff;
   padding: 30px;
   display: flex;
   flex-direction: column;
   .drawer-top{
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
   }
   h3 {
      margin-bottom: 50px;
   }
   .items {
      flex: 1 1 auto;
      .cartItem {
         p {
            width: 100%;
            text-align: center;
         }
         .cartInfo {
            display: flex;
            align-items: center;
         }
      }
   }
}

.cartTotal {
   ul {
      div {
         flex: 1;
         border-bottom: 1px dashed #dfdfdf;
         margin: 0 10px;
      }
      li {
         display: flex;
         align-items: flex-end;
         margin-bottom: 20px;
      }
   }
   button {
      width: 100%;
      font-size: 18px;
      padding: 10px 20px;
      border: none;
      background-color: rgb(53, 192, 29);
      border-radius: 15px;
      cursor: pointer;
      color: #fff;
   }
}

.cartItem {
   border: 1px solid #f3f3f3;
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 20px;
   p {
      margin-bottom: 5px;
   }
   .removeBtn {
      opacity: 0.4;
      cursor: pointer;
      &:hover {
         opacity: 1;
      }
   }
}
