* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
li {
   list-style: none;
}
a {
   text-decoration: none;
}
body {
   margin: 0;
   font-family: system-ui;
   background-color: rgb(206, 202, 202);
}

.wrapper {
   background-color: #fff;
   border-radius: 20px;
   max-width: 1080px;
   margin: 50px auto;
}




.content {
   padding: 40px;
   .title {
      display: flex;
      margin-bottom: 40px;
      justify-content: space-between;
      align-items: center;
      .search {
         display: flex;
         input {
            border: 0;
            padding: 10px;
            width: 200px;
            outline: none;
         }
      }
   }
   h1 {
      
   }
   .cards {
      display: flex;
      flex-wrap: wrap;
      
   }

}





.cartTotal {
   div {
      flex: 1;
      border-bottom: 1px dashed #dfdfdf;
      margin: 0 10px;
   }
   li {
      display: flex;
      align-items: flex-end;
      margin-bottom: 20px;
   }   
   button {
      width: 100%;
      font-size: 18px;
      padding: 10px 20px;
      border: none;
      background-color: rgb(53, 192, 29);
      border-radius: 15px;
      cursor: pointer;
      color: #fff;
   }
}

